html,
body {
    overscroll-behavior: none !important;
    touch-action: pan-y !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

* {
    touch-action: manipulation !important;
}